<section class="navbar">

    <div class = "navbar-left">
        <h1 class="title">Expense Tracker</h1>

        <nav>
            <button class="nav-btn active" id="tab-dashboard" onclick="switchTab('dashboard')">Dashboard</button>
            <button class="nav-btn" id="tab-budgets" onclick="switchTab('budgets')">Budgets</button>
            <button class="nav-btn" id="tab-settings" onclick="switchTab('settings')">Settings</button>
        </nav>
    </div>
    

    <section class="wrapper">

        <select class="cycleSelect" [(ngModel)]="selectedCycle" (ngModelChange)="onCycleChange($event)">
        @for (cycle of cycles; track cycle.value) {
            <option [value]="cycle.value">{{ cycle.label }}</option>
        }
        </select>

        <button class="btn btn-ghost" title="Export all data to a PDF file">Export</button>
        <button class="btn btn-primary">Add Expense</button>

    </section>

</section>
